button {
	background-color: #f3cac9;
	border: 2px solid #dba9c8;
	border-radius: 5px;
	padding: 20px 20px;
	transition-duration:0.5s;
    color:black;
}
button:hover {
	background-color: white;
	border: 2px solid #dba9c8;
}
body {
	text-align:center;
}
.mainMenu {
	display:block;
	margin:auto;
	min-width:50%;
}
.hidden {
	display:none;
}
.delete {
    color:white;
    background-color: #fa6161;
    border: 2px solid #bd0909;
}
.delete:hover {
    background-color: white;
    color:red;
    border: 2px solid red;
}
table {
	width: 75%;
	border-collapse: collapse;
	margin: auto;
	//overflow:scroll;
}

table, td, th {
	border: 1px solid;
}

table.dropdown,
table.dropdown td, 
table.dropdown th {
    border: none;
}
.dropdown {
	position:absolute;
	max-height:10vh;
	width:20ch;
	margin-left:1ch;
	border-radius:5px;
	background-color:rgba(255, 255, 255, 0.8);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdownOdd {
	background-color:rgba(230, 230, 230, 0.8);
}

fieldset {
    border:1px solid black;
    border-radius: 20px;
}
